body {
    background: linear-gradient(180deg , #736de6, #6445bd, #2e549f,#21186b,#160f53);;
    margin : 0;
}

h1 , p  {
    color : white ;
}

.hero {
    height: 100vh;
    display : flex ; 
    justify-content: center;
    align-items: center;
    flex-direction: column;
}